<table class="table table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let type of tipos">
      <th scope="row">{{type.id}}</th>
      <td>{{type.type_name}}</td>
      <td>
        <a title="Detalles" (click)="detallesTipo(type)"><i class="fa fa-eye" style="color:green"></i></a>
        <a title="Borrar" (click)="deleteTipo(type)"><i class="fa fa-trash" style="color:red"></i></a>
      </td>
    </tr>
  </tbody>
</table>

